.ajuste {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.tela{
    font-weight: 600;
    font-size: 22px;
}