<div class="modal-header top-m">
    <h5 class="modal-title pull-left">{{ name }}</h5>
    <button type="button" class="close pull-right cor" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
SA        
</div>

        <div class="col-sm-6">

    DSADASD     
         
    
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <agm-map [latitude]='lat' [longitude]='long' [mapTypeId]='googleMapType'>
            </agm-map>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="onClose()">
        {{ closeBtnName }}
    </button>
</div>